.corpo {
    background-image: url(../img/geek-logo.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center center;
    padding: 0%;
    padding-left: 0%;
    width: 100vw;
    height: 100vh;
}

.img_user{
    width: 2vw;
}